
.container {
       background: #FAEBD7;
 }

.header {
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: url("lopning.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      border: 2px solid black;

}
.header h1{
      font-size: 50px;
      color: black;
      font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

.header2 {
          height: 10px;
          background-color: #FAEBD7;
    }


    .senastenytt {

              font-family: 'Helvetica Neue', sans-serif;
              padding: 10px;
              padding-left: 0px;
              font-size: 15px;
              letter-spacing: 1px;
              text-align: left;
              color: black;
              font-weight: normal;

    }

    .senastenyttart p {
      font-family: 'Helvetica Neue', sans-serif;
      padding: 10px;
      font-size: 10x;
      letter-spacing: 1px;
      text-align: left;
      color: black;
      width: auto;

    }





/* h2{
      width: auto;
      font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
      font-weight: bold;
      justify-content: center;
      color: black;
      font-size: 15px;
      font-style: normal;

  } */



.news {
  height: auto;
  padding: 10px;
  padding-top: 0px;
  width: 48%;

}

.news p {
width: 100%;
justify-content: center;
font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
letter-spacing: 1px;
font-weight: normal;
word-wrap: normal;
color: black;
font-size: 14px;

}
.news img{
width: 100%;
padding: 5px;


}

.news h2{
  height: 80px;
}

.image-div{
width: 100%;
height: 300px;
background-position: center;
border: 2px solid black;

}

.superfood {
background-color: grey;
height: 10px;
padding border-bottom: 0px;
font-family: 'Helvetica Neue', sans-serif;
padding: 30px;
font-size: 20px;
font-weight: bold;
letter-spacing: -1px;
line-height: 1;
text-align: left;
color: #FFFFFF;

}

.bottomline {
  background-color: grey;
  height: 10px;
  padding border-bottom: 0px;
  font-family: 'Helvetica Neue', sans-serif;
  padding: 30px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: left;
  color: #FFFFFF;
}

.sleepline {
  background-color: grey;
  height: 10px;
  padding border-bottom: 0px;
  font-family: 'Helvetica Neue', sans-serif;
  padding: 30px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: left;
  color: #FFFFFF;

}

.musclesline {
background-color: grey;
height: 10px;
padding border-bottom: 0px;
font-family: 'Helvetica Neue', sans-serif;
padding: 30px;
font-size: 20px;
font-weight: bold;
letter-spacing: -1px;
line-height: 1;
text-align: left;
color: #FFFFFF;
}

.articles{
  display: flex;
  flex-wrap:wrap;
  }


.articles2 {
  display: flex;
  flex-wrap: wrap;

  }


.articles3 {
  display: flex;
  flex-wrap:wrap;
}


.footer{
      position: bottom;
      width: 100%;
      background-color: #FAEBD7;
      color: black;
      text-align: center;
      font-size: 20px;
      height: 50px;
      background-position: center;
      padding-top: 20px;

}

@media (max-width: 1281px){

.content {
     display: block;
     }

.header2 {
  height: 40px;
}





@media (max-width: 600px) {

            .content {
             display: block;
             }


            .header h1{
             font-size: 35px;
             color: black;
             font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
           }

          .header2 {
          height: 10px;
          }


}
