<body>


h1{
color: #000000;
font-size: 60px;
font-style: normal;
}

body{
background-color:#FFF8DC;
}


p{
color: black;
font-size: 14px;
}

.Toppdel img{
  width: 100%

}

.kategorier img{
width: 20%

}

.Artikel_1
img {30%

}

.Artikel_2
img {30%

}

.Artikel_3
img {30%

}


.Artikel_4
img {30%

}

.Artikel_5
img {30%

}

.Artikel_6
img {30%

}


</body>
